{% include "head.html" %}
<div class="container mt-5 mb-5">
    <h1 class='bg-dark text-white text-center display-3 mb-4'>SEARCH BY DATE</h1>


<form method="POST">
    {% csrf_token %}
        {{sas.partydate}}

        
        

        <label for="exampleDataList" class="form-label">Booked Date Time :</label>

                <input name='time' class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Time Avilable" >
                <datalist id="datalistOptions" >
                    
                    {% for i in aa %}
                        <option value="{{i}}">
                    {% endfor %}
                </datalist>

        <input type="submit"  class='btn btn-success mt-3 w-100'>
</form>

</div>







{% include "footer.html" %}